<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">    
        <div class="card bg-light justify-content-center">
            <div class="card-body">
            <p class="card-text text-center">
                <h2 class="text-center">Texting Championship</h2>
                <p/>
                <div class="list-group text-center">
                    <small>Logged in as : <b>{{ participantName }}</b></small>
                    <p/>
                    <a href="#!/typing-test" class="list-group-item list-group-item-action flex-column align-items-start">
                        <h5 class="mb-1">Enter Competition</h5>
                        <small>
                            <p class="mb-1">So you think you're ready? go ahead..</p>
                        </small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <h5 class="mb-1">Leadership Board</h5>
                        <small>
                            <p class="mb-1">So you think you're ahead of everyone else, let's findout</p>
                        </small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <h5 class="mb-1">Instructions</h5>
                        <small>
                            <p class="mb-1">Don't be ashamed of your ignorance, learn how things works</p>
                        </small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <h5 class="mb-1">About</h5>
                        <small>
                            <p class="mb-1">Let's have a lesson of how our world works</p>
                        </small>
                    </a>
                    <a href="#!" ng-click="logout" class="list-group-item list-group-item-action flex-column align-items-start">
                        <h5 class="mb-1">Logout</h5>
                        <small>
                            <p class="mb-1">Until we meet again</p>
                        </small>
                    </a>
                 </div>

            </p>
            </div>
        </div>
    </div>
</div>