<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
        <table class="table table-sm table-striped table-dark">
        <thead class="thead-dark">
            <tr class="text-center">
            <th scope="col" class="text-success">Correct</th>
            <th scope="col">Accuracy</th>
            <th scope="col">Timer</th>
            <th scope="col">Speed</th>
            <th scope="col" class="text-danger">Incorrect</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
            <td> <b class="text-success">{{ correctInputCount }}</b> </td>
            <td> {{ accuracy }} </td>
            <td> <b id="timer"> {{ strTime }}</b> </td>
            <td>  {{ wpm }} </td>
            <td> <b class="text-danger"> {{ inCorrectInputCount }} </b> </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">    
        <div class="card justify-content-center bg-light">
            <div class="card-body  text-center" id="typing_test_main_container">
            <p class="card-text">
                <small> {{ title }}</small>
                <div id="to_type_text_elements_container"  class="font-italic"> </div>
                <p/>
                <form>
                    <div class="form-group">
                        <input type="text" 
                        id='word_input' 
                        style="text-align:center"
                        class="form-control border border-primary"
                        ng-model="typedWord"
                        ng-keyup="isComplete()"
                        ng-keypress="checkInput($event)" 
                        placeholder="Type Here..."
                        autofocus>
                    </div>
                </form>
                </p>
            </div>
        </div>
    </div>
</div>
<p/>

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
        <div id="typed_paragraph_preview_container" class="card hidden">
        <div class="card-body text-center">
            <h5 class="card-title text-primary">Typed Paragraph: </h5>
            <p class="card-text">
                <div id="typed_text_elements_container" class="scrollable"></div>
            </p>    
        </div>
    </div>
</div>
</div>
<p/>
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
        <div id="original_paragraph_main_container" class="card hidden">
        <div class="card-body text-center">
            <h5 class="card-title text-primary">Original Paragraph: </h5>
            <p class="card-text">
                <div id="original_paragraph_text" class="font-italic correct_txt scrollable"></div>
            </p>    
        </div>
        </div>
    </div>
</div>
<p/>
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
        <a href="#!/" id="continue_btn" class="btn btn-dark" style="width:100%" role="button" aria-pressed="true">Logout</a>
    </div>
</div>